# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
.idea/
*.iml
*.iws

# Visual Studio Code related
.vscode/

# Flutter/Dart related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/elg/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties